.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 4em;
}
.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 470px;
  width: 400px;
  padding: 0.5em;
  padding-bottom: 0;
  margin: 2em;
  background-color: white;
  .text {
    padding: 1em;
    padding-bottom: 0;
    text-align: center;
    height: 100px;
    ::selection {
      background-color: transparent;
      color: var(--gray-900);
    }
  }
  &:hover .add-to-cart {
    display: flex;
    transition-timing-function: ease-in;
    transition: 0.5s;
  }
  .add-to-cart {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
    .item-count {
      width: 100px;
      text-align: center;
      border: 1px solid var(--gray-500);
      padding: 0.5em 1.5em;
    }
  }
  img {
    height: 180px;
    width: 190px;
    margin: 1em;
    margin-top: 3em;
  }
}
.cart-container {
  right: 2em;
  color: var(--gray-600);
  .cart-icon-container {
    position: absolute;
    right: 6.5em;
    top: 0.75em;
    .cart-total-count {
      position: absolute;
      right: 1.5em;
    }
    .cart-icon {
      font-size: 2em;
      color: var(--gray-600);
    }
  }
}
