.ant-btn.anchor-button {
  color: var(--theme-color-2);
}

.ant-btn.anchor-button:hover {
  color: var(--theme-color-2-hover);
}

.site-link {
  &.active {
    color: var(--theme-color-2);
  }
  &:hover {
    color: var(--theme-color-2-hover);
  }
}

.grid-controls.green .anticon:hover {
  color: var(--theme-color-2);
}

.home.green {
  .home-description {
    background-color: var(--theme-color-2);
  }
  .tile-container {
    .tile {
      &:hover {
        .tile-title {
          color: var(--theme-color-2);
        }
      }
    }
  }
}

.treeSearch {
  color: var(--theme-color-2);
}

.bio-container.green {
  .description {
    background-color: #dcfde0;
    border: 1px solid #b7eb8f;
  }
}

.category-container.green .cart-container .cart-icon {
  :hover {
    color: var(--theme-color-2) !important;
  }
}

.site-nav.green {
  .ant-menu-item-selected a {
    color: var(--theme-color-2) !important;
  }
  .ant-menu-item-selected,
  .ant-menu-item-active,
  .ant-menu-submenu-active,
  .ant-menu-submenu-title:hover {
    color: var(--theme-color-2) !important;
    background-color: var(--theme-color-2-light) !important;
  }
}
