.bio-container {
  background-color: var(--gray-100);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  padding-top: 3em;
  height: calc(100vh - 250px);
  .description {
    width: 40%;
    height: 560px;
    font-size: 1.95em;
    background-color: #95cfff;
    border-radius: var(--button-border-radius);
    text-align: justify;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 1.5em;
    margin-right: 3em;
  }
}
.me-image {
  border-radius: 50%;
  height: 450px;
}
.bio-signature {
  position: relative;
  height: 100%;
  padding-top: .5em;
}
.signature {
  bottom: 3em;
  right: -0.5em;
  position: absolute;
}

@media only screen and (max-width: 1920px) {
  .bio-container .description {
    font-size: 1.65em;
    height: 500px;
  }
}

@media only screen and (max-width: 1680px) {
  .bio-container .description {
    font-size: 1.54em;
    height: 500px;
  }
}

@media only screen and (max-width: 1440px) {
  .bio-container .description {
    font-size: 1.3em;
    height: 420px;
  }
  .me-image {
    height: 360px;
  }
  .signature {
    width: 200px;
  }
}

@media only screen and (max-width: 1024px) {
  .bio-container .description {
    font-size: 1.1em;
    height: 420px;
  }
  .me-image {
    height: 340px;
  }
  .signature {
    width: 180px;
  }
}
