.bio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  .description {
    width: 40%;
    font-size: 1.75em;
    background-color: #e6f7ff;
    border: 1px solid #91d5ff;
    text-align: justify;
    padding: 1.5em;
    margin-right: 3em;
  }
  .me-image {
    height: 400px;
    width: 400px;
  }
}

@media only screen and (max-width: 1440px) {
  .bio-container {
    .description {
      font-size: 1.5em;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .bio-container {
    .description {
      font-size: 1.25em;
    }
  }
}
