.label {
  color: var(--gray-500);
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 16px;
  transition: 0.2s ease all;
  &.default {
    top: 16px;
  }
  &.float {
    font-size: 0.8em;
    top: 5px;
  }
}
