.label {
  color: var(--gray-600);
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 12px;
  transition: 0.2s ease all;
  &.default {
    top: 13px;
  }
  &.float {
    font-size: 0.8em;
    top: 6px;
  }
}
