.todo-list-container {
  padding: 3em;
  margin: 2em;
  border: 1px solid var(--gray-300);
  border-radius: var(--container-border-radius);
  height: 800px;
  overflow-y: auto;
  .user-select {
      width: 100%;
  }
}
