@media only screen and (max-width: 1920px) {
  .user-grid {
    .ant-table-body {
      height: 650px;
    }
  }
}

@media only screen and (max-width: 1680px) {
  .user-grid {
    .ant-table-body {
      height: 450px;
    }
  }
}

@media only screen and (max-width: 1440px) {
  .user-grid {
    .ant-table-body {
      height: 495px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .user-grid {
    .ant-table-body {
      height: 485px;
    }
  }
}
