.media-list-container {
  padding-top: 1em;
  .media-list-items {
    overflow-y: auto;
    background-color: white;
    .ant-row {
      padding: 1em;
      border-bottom: 1px solid var(--gray-300);
      &:nth-child(odd) {
        background-color: var(--gray-100);
      }
    }
    .media-type-icon {
      height: 25px;
    }
    .media-type-text {
      padding-left: 0.75em;
      position: absolute;
      top: 0.3em;
      &.tv {
        padding-left: 1em;
      }
    }
  }
  &.no-data {
    height: 150px;
  }
  .media-detail {
    background-color: white;
    padding: 2em;
  }
}

@media only screen and (max-width: 1920px) {
  .media-poster {
    height: 470px;
  }
  .ant-col-13 {
    flex: 0 0 80% !important;
    max-width: 80% !important;
  }
}

@media only screen and (max-width: 1680px) {
  .media-poster {
    height: 450px;
  }
  .ant-col-13 {
    flex: 0 0 90% !important;
    max-width: 90% !important;
  }
}

@media only screen and (max-width: 1440px) {
  .media-poster {
    height: 370px;
  }
  .ant-col-13 {
    flex: 0 0 90% !important;
    max-width: 90% !important;
  }
}

@media only screen and (max-width: 1024px) {
  .media-poster {
    height: 250px;
    width: 180px;
  }
  .ant-col-13 {
    flex: 0 0 90% !important;
    max-width: 90% !important;
  }
}
