.ant-btn.anchor-button {
  color: var(--theme-color-3);
}

.ant-btn.anchor-button:hover {
  color: var(--theme-color-3-hover);
}

.site-link {
  &.active {
    color: var(--theme-color-3);
  }
  &:hover {
    color: var(--theme-color-3-hover);
  }
}

.grid-controls.purple .anticon:hover {
  color: var(--theme-color-3);
}

.home.purple {
  .home-description {
    background-color: var(--theme-color-3);
  }
  .tile-container {
    .tile {
      &:hover {
        .tile-title {
          color: var(--theme-color-3);
        }
      }
    }
  }
}

.purple .treeSearch {
  color: var(--theme-color-3);
}

.bio-container.purple {
  .description {
    background-color: #f9f0ff;
    border: 1px solid #d3adf7;
  }
}

.category-container.purple .cart-container .cart-icon {
  :hover {
    color: var(--theme-color-3) !important;
  }
}

.purple .site-nav {
  .ant-menu-item-selected a {
    color: var(--theme-color-3) !important;
  }
  .ant-menu-item-selected,
  .ant-menu-item-active,
  .ant-menu-submenu-active,
  .ant-menu-submenu-title:hover {
    color: var(--theme-color-3) !important;
    background-color: var(--theme-color-3-light) !important;
  }
}
