.app-layout {
  height: 100vh;
}

.site-nav {
  height: 100%;
  position: fixed;
  border-right: 1px solid var(--gray-400);
  background-color: white;
}

.site-header {
  position: fixed;
  float: left;
  width: 100%;
  background-color: white;
  border-left: 1px solid var(--gray-400);
  border-bottom: 1px solid var(--gray-400);
  padding-left: 0.5em;
  img {
    height: 50px;
    margin-top: -0.5em;
  }
}

.site-content {
  float: left;
  width: 100%;
  overflow-y: auto;
  height: calc(100% - 60px);
  margin-top: 60px;
}

.logo {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
