.site-nav {
  height: 100%;
  position: fixed;
  width: 200px;
  background-color: white;
}

.site-nav-container {
  background-color: white;
}

.site-header {
  position: fixed;
  float: left;
  width: 100%;
  background-color: white;
  border-left: 1px solid var(--gray-300);
  border-bottom: 1px solid var(--gray-300);
  padding-left: 1em;
}

.site-content {
  float: left;
  width: 100%;
  overflow-y: auto;
  height: calc(100% - 60px);
  margin-top: 60px;
  border-left: 1px solid var(--gray-300) !important;
}

.logo {
  background-color: white;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
