.filter-tags-container {
    display: block;
    height: 23px;
}

.grid-controls .anticon {
    font-size: 1.5em;
}

.grid-controls .anticon:hover {
    cursor: pointer;
    color: var(--theme-color-1);
}