.home {
  background-color: white;
  height: calc(100vh - 50px);
  overflow-y: auto;
  .anticon {
    color: var(--theme-color-1);
  }
  .tile-container {
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center;
    height: calc(100vh - 250px);
    overflow: auto;
    padding-bottom: 2em;
    .tile-header {
      font-size: 2em;
      padding-top: 2em;
      padding-bottom: 2em;
    }
    .tile {
      margin: 2em;
      height: 280px;
      width: 280px;
      text-align: center;
      border-radius: var(--container-border-radius);
      background-color: var(--gray-300);
      box-shadow: var(--box-shadow);
      .tile-title {
        color: var(--gray-700);
        border-top-left-radius: var(--container-border-radius);
        border-top-right-radius: var(--container-border-radius);
        background-color: var(--gray-200);
        font-weight: bold;
        font-size: 1.75em;
        padding: 0.5em;
      }
      .tile-icon {
        padding: 2em 0 0 0;
        &.dashboard {
          width: 170px;
        }
        &.register {
          padding: 1.5em 0 0 2.25em;
          width: 200px;
        }
        &.grid {
          padding: 3em 0 0 0;
          width: 140px;
        }
        &.list {
          padding: 2em;
          width: 215px;
        }
        &.search {
          width: 160px;
        }
        &.shop {
          padding: 2.5em 0 0 0;
          width: 150px;
        }
        &.visuals {
          padding: 0;
          width: 225px;
        }
      }
      &:hover {
        opacity: 0.7;
        .tile-title {
          color: var(--theme-color-1);
        }
      }
    }
  }
}
