.category-container {
  background-color: var(--gray-900);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  .anticon {
    color: var(--gray-500);
  }
  > span {
    margin-left: 1em;
    font-size: 1.2em;
    padding: 0.5em;
    width: 180px;
    text-align: center;
    text-transform: capitalize;
    border-radius: var(--button-border-radius);
    background-color: var(--gray-200);
    &.selected {
      background-color: var(--gray-600);
      color: #ffffff;
    }
    &:hover {
      background-color: var(--gray-600);
      color: #ffffff;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .category-container {
    > span {
      font-size: 1em;
      width: 140px;
    }
  }
}
