.category-container {
  position: fixed;
  width: 100%;
  min-height: 41.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  background-color: var(--gray-300);
  .anticon {
    color: var(--gray-500);
  }
  > span {
    color: var(--gray-500);
    font-size: 1.25em;
    text-align: center;
    width: 180px;
    text-transform: uppercase;
    &.selected {
      color: var(--gray-900);
    }
    &:hover {
      color: var(--gray-600);
    }
    &:nth-child(n + 2) {
      padding-left: 1.25em;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .category-container {
    > span {
      font-size: 1em;
      width: 140px;
    }
  }
}
