.register-container {
  height: calc(100vh - 55px);
  overflow: auto;
  padding: 2em;
  padding-top: 3em;
  .ant-steps-item-title {
    margin-top: 0.5em;
  }
  .register-icon {
    height: 1.5em;
  }
}

.steps-content {
  margin-top: 2em;
  padding: 2em;
  padding-bottom: 3em;
  display: flex;
  justify-content: center;
  background-color: white;
  .section {
    border: 1px solid var(--gray-300);
    margin-top: 3em;
  }
}

.steps-action {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

@media only screen and (max-width: 1920px) {
  .ant-col-11 {
    flex: 0 0 60% !important;
    max-width: 60% !important;
  }
  .ant-col-14 {
    flex: 0 0 60% !important;
    max-width: 60% !important;
  }
}

@media only screen and (max-width: 1680px) {
  .ant-col-11 {
    flex: 0 0 80% !important;
    max-width: 80% !important;
  }
  .ant-col-14 {
    flex: 0 0 80% !important;
    max-width: 80% !important;
  }
}
