.weather-container {
  padding-top: 1em;
  .weather-detail {
    background-color: white;
    padding: 2em;
  }
  .map-container {
    height: 400px;
  }
  &.content-center {
    height: 150px;
  }
  .forecast-item {
    margin: 1.25em;
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .moon-phase-icon {
    height: 40px;
  }
  .ant-switch {
    padding: 4px 15px;
    height: 33px;
  }
  .ant-switch-handle {
    width: 29px;
    height: 29px;
    &:before {
      border-radius: 15px;
    }
  }
  .ant-switch-checked .ant-switch-handle {
    left: calc(100% - 31px);
  }
}
