.ant-form .ant-input {
  padding: 16px 12px 4px 15px !important;
  height: 55px !important;
}

.ant-form .ant-select .ant-select-selector {
  padding: 16px 10px 10px 15px !important;
  min-height: 55px !important;
}

.ant-form .ant-select.ant-select-multiple .ant-select-selection-item {
  margin-top: 6px;
}

.ant-form .ant-select.ant-select-multiple .ant-select-selection-overflow-item {
  margin-top: 0.25em;
}

.ant-form .ant-select.ant-select-auto-complete .ant-select-selector .ant-select-selection-search-input {
  padding: 15px 10px 4px 5px !important;
  min-height: 55px !important;
}

.ant-table-body tr:nth-child(odd) td {
  background-color: var(--gray-100);
}

.ant-table-body tr:hover {
  cursor: pointer;
}

.ant-table-filter-column-title {
  padding: 0 !important;
}

.ant-table-column-sorter {
  position: absolute;
  right: 2em;
}

.ant-menu-item {
  color: white !important;
  height: 50px !important;
  line-height: 50px !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.ant-btn.anchor-button {
  color: var(--theme-color-1);
  border: none;
  padding: 0;
  margin: 0;
  height: 0;
}

.ant-btn.anchor-button:hover {
  color: var(--theme-color-1-hover);
}

.ant-btn.dark,
.ant-btn.dark:hover,
.ant-btn.dark:active,
.ant-btn.dark:focus {
  background: var(--gray-900);
  border-color: none;
  color: white;
}

.ant-tag,
.ant-tag-hidden {
  display: initial !important;
  padding: 5px 7px !important;
}

.ant-tag-close-icon:hover {
  cursor: pointer;
}

.ant-picker-ranges {
  display: flex;
  justify-content: space-around;
}

.ant-steps-item-icon .ant-steps-icon {
  top: -2.5px !important;
}

.ant-card {
  border-radius: var(--container-border-radius) !important;
}

.ant-card-head {
  border-bottom: 1px solid var(--gray-300) !important;
}

.ant-card-extra {
  padding: 0 !important;
}

.add-item.anticon:hover {
  color: var(--theme-color-1);
  cursor: pointer;
}

.remove-item.anticon {
  color: var(--gray-400);
  :hover {
    color: var(--theme-error);
    cursor: pointer;
  }
}

.icon-blue,
.icon-blue.anticon {
  color: var(--theme-color-1);
}

.icon-red,
.icon-red.anticon {
  color: var(--theme-error);
}
