@import './mixins.scss';
@include classBuilder('fs', 'font-size', 0, 5);
@include classBuilder('p', 'padding', 0, 5);
@include classBuilder('pt', 'padding-top', 0, 5);
@include classBuilder('pr', 'padding-right', 0, 5);
@include classBuilder('pb', 'padding-bottom', 0, 5);
@include classBuilder('pl', 'padding-left', 0, 5);
@include classBuilder('m', 'margin', 0, 5);
@include classBuilder('mt', 'margin-top', 0, 5);
@include classBuilder('mr', 'margin-right', 0, 5);
@include classBuilder('mb', 'margin-bottom', 0, 5);
@include classBuilder('ml', 'margin-left', 0, 5);

:root {
  --gray-900: #22262a;
  --gray-800: #2e3235;
  --gray-700: #495057;
  --gray-600: #6c757d;
  --gray-500: #adb5bd;
  --gray-400: #ced4da;
  --gray-300: #dee2e6;
  --gray-200: #e9ecef;
  --gray-100: #f8f9fa;
  --theme-color-1: #1890ff;
  --theme-color-1-hover: #40a9ff;
  --theme-error: #f22939;
  --theme-success: #64d28d;
  --theme-warning: #f26e29;
  --theme-info: #cce5ff;
  --theme-option: #8dabc4;
  --container-border-radius: 10px;
  --button-border-radius: 30px;
  --box-shadow: 3px 3px 6px #cecece;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.page {
  height: calc(100vh - 60px);
  padding: 2em;
}
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: .5em;
  background-color: var(--gray-900);
  color: #ffffff;
  font-size: 1.5em;
  height: 50px;
}
.page-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 50px);
}
.site-link {
  margin-left: 1.25em;
  font-size: 0.8em;
  color: #ffffff;
    &.active {
    color: var(--theme-color-1);
  }
}

.external-link {
  float: left;
  margin-top: .7em;
  padding-left: .75em;
}
.sound-cloud {
  height: 48px;
  width: 75px;
  margin-top: .15em;
  margin-left: 0;
}

.box-shadow {
  box-shadow: var(--box-shadow);
}

.border-bottom-light {
  border-bottom: 1px solid var(--gray-300);
}

.full-width {
  width: 100%;
}
.full-height {
  height: 100vh;
}
.half-height {
  height: 50vh;
}
.half-width {
  width: 50vw;
}

.clickable:hover {
  cursor: pointer;
  opacity: .7;
}

.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: flex-end;
}
.items-start {
  align-items: flex-start;
}
.content-center {
  align-content: center;
}
.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-sb {
  justify-content: space-between;
}
.justify-sa {
  justify-content: space-around;
}

.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}

@media only screen and (max-width: 1440px) {
  body {
    font-size: 10px;
  }
}

@media only screen and (max-width: 1680px) {
  body {
    font-size: 11px;
  }
}
