.ant-btn.anchor-button {
  color: var(--theme-color-1);
}

.ant-btn.anchor-button:hover {
  color: var(--theme-color-1);
}

.add-item.anticon:hover {
  color: var(--theme-color-1);
}

.site-link {
  &.active {
    color: var(--theme-color-1);
  }
  &:hover {
    color: var(--theme-color-1-hover);
  }
}

.grid-controls.default .anticon:hover {
  color: var(--theme-color-1);
}

.home {
  .home-description {
    background-color: var(--theme-color-1);
  }
  .tile-container {
    .tile {
      &:hover {
        .tile-title {
          color: var(--theme-color-1);
        }
      }
    }
  }
}

.category-container.default .cart-container {
  :hover {
    color: var(--theme-color-1) !important;
  }
}

.site-nav.default {
  .ant-menu-item-selected a {
    color: var(--theme-color-1) !important;
  }
  .ant-menu-item-selected,
  .ant-menu-item-active,
  .ant-menu-submenu-active,
  .ant-menu-submenu-title:hover {
    color: var(--theme-color-1) !important;
    background-color: var(--theme-color-1-light) !important;
  }
}
